.footer {
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  color: #616668;
  background-color: white;
}

.fa{
  color: #616668;
}
